:root {
    --button: #fb8d17;
    --background: rgb(49, 48, 48);
    --basefont: rgb(0, 0, 0);
    --lightfont: hsla(0, 0%, 100%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0 auto;
    max-width: 1900px;
}


header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    background-color: var(--background);
}

.logo {
    height: 80px;
    display: flex;
    justify-content: flex-start;
}

.banner {
    display: none;
    color: var(--text-color);
    font-size: small;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: var(--button);
    grid-column: 1/4;
    font-family: "Poppins", sans-serif;
}

.banner.active {
    display: block;
    width: 100%;
}

#close-banner {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


.navigation {
    display: none;
}

.navigation.open {
    display: block;
    position: relative;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: var(--button);
    font-weight: 500;
    background-color: var(--background);
    font-family: "Poppins", sans-serif;

}

nav a:hover {
    font-weight: 700;
    color: #7B9CB4;
}

section ul {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
}

#menu::before {
    content: "≡";
    justify-content: right;
    font-size: 50px;
    color: var(--button);


    /* Hamburger icon */
}

#menu.open::before {
    content: "x";
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--button);
    display: block;
    position: absolute;
    right: 1.3rem;
    top: 0.8rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 1900px;
}


.hero {
    position: relative;
}

.hero img {
    width: 100%;
    max-height: 800px;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);

}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

h2 {
    font-family: "Poppins", sans-serif;
}

.herolabel {
    position: absolute;
    top: 30%;
    left: 48%;
    color: #fff;
    text-align: center;
    transform: translate(-40%, -40%);
}

.herolabel button,
.atvs button,
.honda-scooters button,
.jeeps button {
    border-radius: 6px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: var(--button);
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: small;
}

.herolabel button:hover,
.atvs button:hover,
.honda-scooters button:hover,
.jeeps button:hover {
    background-color: var(--background);
    color: white;
}


.honda-scooters,
.jeeps,
.atvs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-style: groove;
    border-width: 1.5px;
    border-radius: 6px;
    border-color: var(--background);
    text-align: center;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

.honda-scooters figcaption,
.jeeps figcaption,
.atvs figcaption {
    margin-bottom: 1.5rem;
}


.message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

iframe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 500px;
    border: 0px;
}

#weather {
    background-color: var(--background);
    color: var(--lightfont);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    text-align: center;
    font-size: medium;
}

.current-weather {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-weather,
.forecast-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.current-weather p,
.current-weather img {
    margin: 0 10px;
}


.smedia {
    padding: 1rem;
}

footer {
    background: var(--background);
    color: var(--button);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: large;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;

}

/* Rentals Page */

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    background-color: var(--button);
    color: var(--lightfont);
    padding: 8px;
}


td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}


tr:hover {
    background-color: #f1f1f1;
}

.subpage-main section h2,
.subpage-main section h1 {
    padding: 20px;
    text-align: center;
}

.subpage-title {
    background-color: white;
    width: 100%;
    grid-column: 1/4;
    font-family: "Poppins", sans-serif;
}

hr {
    width: 150px;
    margin: auto;
    margin-bottom: 1.5rem;
}


.rentals-section {
    text-align: center;
    padding: 20px;
}

.rentals-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.rentals-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.rental-card,
.rental-card-subpage {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: left;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.rental-card picture,
.rental-card img,
.rental-card-subpage picture,
.rental-card-subpage img {
    width: 100%;
    height: auto;
}

.rental-card .rental-content,
.rental-card-subpage .rental-content {
    padding: 15px;
}

.rental-card .rental-content h3,
.rental-card-subpage .rental-content h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.rental-card .rental-content p,
.rental-card-subpage .rental-content p {
    font-size: 1em;
    line-height: 1.6;
    color: var(--basefont);
}

.rental-card .rental-content .learn-more,
.rental-card-subpage .rental-content .learn-more {
    font-family: "Poppins", sans-serif;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--button);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    letter-spacing: 0.07em;
}

.rental-card .rental-content .learn-more:hover,
.rental-card-subpage .rental-content .learn-more:hover {
    background-color: var(--background);
}

.rentals-container-subpage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.rental-card-subpage {
    max-width: 600px;
}

.subpage-main p {
    font-family: "Poppins", sans-serif;
    margin: 1rem 1rem 1rem 1rem;
    font-size: medium;
}

#scooters,
#jeeps,
#atvs {
    font-size: medium;
}

/* -- Reservations Page -- */

.reservations-sidebar {
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

.agreement h3 {
    margin-bottom: 1rem;
}

.agreement h4 {
    font-weight: 500;
}

.agreement {
    margin: 1rem 1rem;
}

form h2 {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1.2rem;
}


.wf1 fieldset {
    margin: 2ch 0;
    border: 3px solid var(--button);
    border-radius: 6px;
    padding: 1rem 2%;
    font-size: 2rem;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: medium;
    font-weight: 300;
    font-family: "Poppins", sans-serif;

}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 input[type="date"],
.wf1 textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 500px;
    appearance: none;
}

.wf1 select {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 500px;
}

.wf1 input:required {
    border-right: solid 8px var(--button);
}

.wf1 input:required:valid {
    border-right: solid 8px #0d4399;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#fc8608, var(--button));
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 500px;
    margin-top: 2rem;
    box-shadow: 1px 1px 4px #999;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: medium;
}

/* --Confirmation page --*/

.confirmation-main-container p {
    margin: 4rem 0 4rem 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
    grid-template-columns: 1fr;

}