* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: white;
    font-size: 22px;
    margin: 0 auto;
    max-width: 67.5rem;
}

header {
    background: #ffffff;
    padding: 2rem;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 170px;
    display: flex;
    justify-content: flex-start;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

nav {
    background-color: #072453;
    color: white;
    padding: 15px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
}

nav a:hover {
    font-weight: 700;
    color: #7B9CB4;
}

section ul {
    list-style-type: none;
}

#menu::before {
    content: "≡";
    justify-content: right;
    font-size: 80px;
    color: #072453;

    /* Hamburger icon */
}

#menu.open::before {
    content: "x";
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #072453;
    position: fixed;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


#hero-image {
    width: 67.5rem;
    height: 500px;
    object-fit: cover;
    object-position: 100% 0;
    justify-content: center;
    align-items: center;
}

.events,
.weather,
.spotlights {

    background-color: white;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    margin-left: 10px;
    display: block;
    padding: 20px;

}



footer {
    background: #072453;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: medium;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}