* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: white;
    font-size: 22px;
    margin: 0 auto;
    max-width: 67.5rem;
}

header {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-right: 30px;
}

.logo {
    height: 170px;
    display: flex;
    justify-content: flex-start;
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

nav {
    background-color: #072453;
    color: white;
    padding: 15px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5px;
    color: white;
}

nav a:hover {
    font-weight: 700;
    color: #7B9CB4;
}

section ul {
    list-style-type: none;
}

#menu::before {
    content: "≡";
    justify-content: right;
    font-size: 80px;
    color: #072453;

    /* Hamburger icon */
}

#menu.open::before {
    content: "x";
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #072453;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.switch {
    position: absolute;
    right: 5px;
    top: 130px;
    display: inline-block;
    width: 60px;
    height: 34px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #072453;
}

input:focus+.slider {
    box-shadow: 0 0 1px #072453;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dark-mode {
    background-color: black;
    color: white;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.hero {
    margin-top: 10px;
    position: relative;
    grid-column: 1/3;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.herolabel {
    position: absolute;
    top: 140px;
    left: 30px;
    background: radial-gradient(#fff, white);
    padding: 1rem;
    box-shadow: 2rem 2rem 2rem #2c2c2c;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .15rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

.events,
.weather,
.spotlights {

    background-color: white;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    margin-left: 10px;
    display: block;
    padding: 20px;

}



footer {
    background: #072453;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: medium;
    max-width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}