/* Media Query for Larger Viewer */
@media (min-width: 48em) {

    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }

    .logo {
        margin-left: 10rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        background-color: #072453;
        color: white;
        padding: 15px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px
    }

    .switch {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-right: 30px;
    }

    .navigation {
        display: block;
    }


    #menu {
        display: none;
    }

    .hero {
        margin-top: 10px;
        position: relative;
        grid-column: 1/4;
    }

    .hero img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }


    .herolabel {
        position: absolute;
        top: 20rem;
        left: 3rem;
        background: radial-gradient(#fff, white);
        padding: 1rem;
        box-shadow: 4rem 4rem 4rem #2c2c2c;
        opacity: 0.75;
        /* Buenas */
    }

    .herolabel p {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}