/* Media Query for medium Viewer */
@media (541px <=width <=819px) {

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        background-color: #072453;
        color: white;

    }

    main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr 0.5fr 0.5fr 1fr;
        grid-gap: 10px;
        align-items: center;
        text-align: center;
    }
}

h2 {
    grid-column: span 2;
}

h4 {
    font-family: "Poppins", sans-serif;
}

.navigation {
    display: block;
}

#menu {
    display: none;
}