main {
    max-width: 800px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    max-width: 900px;
}

header {
    background: #0C6291;
}

h1 {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

h2 {
    text-align: center;

    font-family: "Poppins", sans-serif;
}

h3 {
    background-color: #0C6291;
    margin-top: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.prof-picture {
    width: 10%;
    display: block;
    margin: 0 auto;

}

nav a {
    text-align: center;
    background-color: black;
    color: white;
    max-width: 900px;
}

main {
    background: white;
    grid-column: 1 / 4;
    width: 100%;
    padding: 2rem;
}

.card {

    background-color: white;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    margin: 10px;
}

footer {
    background: #0C6291;
    padding: 2rem;
    text-align: center;
}

ul {
    list-style: none;
    text-align: left;
}