* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: white;
    font-size: 22px;
    margin: 0 auto;
    max-width: 67.5rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0C6291;
    padding: 2rem;
    width: 100%;
}

h1 {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h2 {
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: white;
    background-color: #0C6291;
    margin-top: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.prof-picture {
    width: 15%;
    margin-right: 80px;
    display: inline;
    margin-left: 40px;
    padding-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu::before {
    content: "≡";
    /* Hamburger icon */
}

#menu.open::before {
    content: "X";
    /* 'X' icon when the menu is open */
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}

.open .nav-item {
    display: block;
    /* Show items when navigation is open */
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

nav {
    background-color: #ffffff;
    color: #000;
    padding: 15px 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.navigation a {
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-weight: 100;
    text-decoration: none;
    color: var(--accent3-color);
    transition: all ease-in-out 100ms;
    text-align: center;
}


.navigation a:hover {
    font-weight: 700;
    color: #12a0ec;
}

section ul {
    list-style-type: none;
}


.card {

    background-color: white;
    border-style: groove;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: black;
    margin: 10px;
    display: block;

}

footer {
    background: #0C6291;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: medium;
    max-width: 67.5rem;
    padding: 2rem;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}